.logo
  +size(32px)

.timeline
  border: 1px solid #E6ECF0
  border-radius: 2px

  overflow: hidden

  .tweet-box
    border-bottom: 1px solid #E6ECF0

.tweet-box
  background-color: #F6F7F8
  border-radius: 2px

  .actions
    & > i
      color: #657786

      margin-left: 2rem

      &:hover
        color: #1DA1F2

    & > i:first-child
      margin-left: 0

.tweet-box > input
  font-family: $f-family-primary
  font-size: $f-size-lg
  text-align: center

  width: 100%
  height: 48px

  background: none
  border: none

  &:focus
    outline: none
